<h3>New Travel</h3>


<form action="/travels" method="post">
<label>Name: </label>
<input type="text" name="name" /><br />
<label>Description: </label>
<textarea rows="12" cols="80" type="text" name="description"></textarea><br />
<label>Recommendation: </label>
<textarea type="text" name="recommendation" rows="12" cols="80"></textarea><br />
<label>Distance from Home: </label>
<input type="text" name="distance" /><br />
<input type="submit" value="New Travel">
</form>

