<div class="container">

  <div class="col-md-8 col-md-offset-2">
     <h1>Welcome to the Travel App!</h1>
     
    <h2>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a></h2>

    <img src="./images/travels.jpg" alt="Sidney Opera House" class="center" width="450" height="auto"></img>
     
    </div>

  